<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="noticeList" resultType="kr.go.mofa.dto.NoticeDTO">
		select * from notice
	</select>
	<select id="noticeOne" resultType="kr.go.mofa.dto.NoticeDTO">
		select * from notice where no = #{no}
	</select>
	<update id="updateHits">
		update notice set hits=hits+1 where no = #{no}
	</update>
	<insert id="addNotice">
		insert into notice(title, content, dept, regdate) values(#{title}, #{content}, '운영지원담당관실(서무계)', now())
	</insert>
</mapper>